/* Profile Image */
img{
	border: 20px solid;
	border-radius: 150px;
	border-color: #4a4e4d;
}

/* The Intro Section */

h2{
	font-weight: 100;
}
.e, .x, .p, .c{
	font-weight: 200;
}
h4{
	font-weight: 300;
}

.inf{
	font-size: 1.2em;
}

/* NavBar */

nav
{
	height: 5em;
}

.fixed {
  position: fixed;
  bottom: 0;
  top: 0;
  height: 10%;
  right: 15%;
  width: 70%;
  z-index: 2;
  background-color: white;
}

.underline{
	padding-bottom: 5px;
	padding-left: 0;
	padding-right: 0;
	border-style: none none solid none;
}

/* Education Section */

.course{
	font-weight: 400;
}

.sm{
	font-size: .8em;
}

/* Experience / Timeline Section */

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fa8072;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #00bfa5;
  color: white;
  font-size: 0.8em;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #00bfa5 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #00bfa5;
}

.timeline ul li::after {
  background: #fff;
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #00bfa5;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .section1{
      visibility: hidden;
    }
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #00bfa5 transparent transparent;
  }
}

/* Resume Section */

.buttn{
  height: 5em;
  width: 18em;
  padding-top: .8em;
}

.btn-fnt{
  font-family: Roboto;
  font-weight: 200;
  font-size: 1.5em;
}
